<app-menu></app-menu>

<mat-card>

  <div class="categorias" [formGroup]="novacategoria">
    <h2>Cadastro Categorias</h2>


        <div>
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Nome" formControlName="name">
              </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-success" (click)="Cadastrar()">
                Cadastrar
            </button>
        </div>

  </div>

</mat-card>