<app-menu></app-menu>

<mat-card>

  <div class="livros" [formGroup]="novolivro">
    <h2>Cadastro Livros</h2>


        <div>
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo">
              </div>
        </div>

        <div>
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Ano" formControlName="ano" >
              </div>
        </div>

        <div *ngFor="let alias of categorias.controls; let i=index" class="button-group">

                <select formControlName="state" [formControl]="getformControl(i)" class="form-select" >
                    <option *ngFor="let categoria of todascategorias" [value]="categoria.name">
                    {{ categoria.name }}
                    </option>
                </select>


            <button type="button" class="btn btn-outline-success" (click)="addAlias()">
                Add
            </button>

        </div>


        <div>
            <button type="button" class="btn btn-outline-success" (click)="Cadastrar()">
                teste
            </button>
        </div>

  </div>

</mat-card>
